<footer id="footer">
  <div class="col col1">
    <h3 class="glow-text">Lynsey Nunez</h3>
    <p>Helping companies leverage AI and digital platforms to streamline operations, optimize workflows, and improve business outcomes.</p>
    <div class="social">
      <a href="https://www.linkedin.com/in/lynseynunez" target="_blank" class="link">
        <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn"/>
      </a>
      <a href="mailto:lynseyjuneee@gmail.com" target="_blank" class="link">
        <img src="https://cdn-icons-png.flaticon.com/512/561/561127.png" alt="Email"/>
      </a>
    </div>
    <p style="color: #818181; font-size: smaller">2025 © All Rights Reserved</p>
  </div>

  <div class="col col2">
    <p><a href="case-studies.html">Case Studies</a></p>
    <p><a href="portfolio.html">Portfolio</a></p>
  </div>

  <div class="col col3">
    <p><a href="resume.html">Resume</a></p>
    <p><a href="connect.html">Connect</a></p>
  </div>

  <div class="backdrop"></div>
</footer>
